<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.xuptbbs.mapper.PostPhotoMapper">

    <insert id="savePhoto">
        insert into post_photo (post_id, path, created_at)
        values (#{id}, #{path}, #{createdAt})
    </insert>
</mapper>